<!DOCTYPE html>
<html>
<head>
	<title>RESTaurant POS application</title>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/styles.css">
	<script type="text/javascript" src=""></script>
</head>
<body>

</body>
</html>