<!DOCTYPE html>
<html>
<head>
	<title>RESTaurant POS application</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<script type="text/template" class="food-display">
	
		<h3>
		<%%= name %>
		</h3>
		<p>
		$<%%= cents/100 %>
		</p>
		<button class="select-food">
		Select
		</button>

	</script>

	<script type="text/template" class="party-display">
		<h3>
		Table #: <%%= table_number %>
		</h3>
		<p>
		# of Guests: <%%= num_of_guests %>
		</p>
		<button class="select-party">
		Select
		</button>
		
	</script>

	

</head>
<body>
<h1>The RESTaurant</h1>
	<div id="log-in">
	<a href="./admin">Admin</a>
	</div>

<section id="party-wrapper">
	
</section>

<section id="food-wrapper">
	
</section>
<button type="submit" id="create-order">Submit Order</button>
	


<!-- JS Libraries -->
<script type="text/javascript" src="/javascripts/libraries/jquery.js"></script>
<script type="text/javascript" src="/javascripts/libraries/underscore.js"></script>
<script type="text/javascript" src="/javascripts/libraries/backbone.js"></script>

<!-- Backbone Models -->

<script type="text/javascript" src="/javascripts/models/FoodModel.js"></script>
<script type="text/javascript" src="/javascripts/models/PartyModel.js"></script>
	

<!-- Backbone Collection -->

<script type="text/javascript" src="/javascripts/collections/FoodCollection.js"></script>
<script type="text/javascript" src="/javascripts/collections/PartyCollection.js"></script>
	

<!-- Backbone Views -->
<script type="text/javascript" src="/javascripts/views/FoodView.js"></script>
<script type="text/javascript" src="/javascripts/views/PartyView.js"></script>	
<script type="text/javascript" src="/javascripts/views/GeneralListView.js"></script>	

<!-- JS Application -->

<script type="text/javascript" src="/javascripts/app.js"></script>	

</body>
</html>